---
// src/components/SEO.astro
const { 
  title, 
  description, 
  image = "/assets/og-image.png" 
} = Astro.props;

const ogImageURL = Astro.site 
  ? new URL(image, Astro.site) 
  : image; 
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href="https://www.gravocom.com.mx" />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImageURL} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageURL} />